.login-form {
    min-width: 400px;
    max-width: 500px;
    margin: 10% auto;
    border-radius: 3px;
    padding: 20px;
    background-color: #575f52;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.title-login {
    text-align: center;
}

.button-login {
    width: 100%;
}
