.css-k7y545-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #a16eff;
}

.acc-detail-block {
    margin-left: 200px;
}
.acc-detail-item {
    margin-bottom: 20px;
}

.acc-detail-item-label {
}

.title-acc-detail {
    margin-top: 40px;
}
.btn-update-user {
    background-color: rgb(186, 161, 37);
}
