.css-hdw1oc {
    width: 0;
}
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    color: white;
    background-color: #252547;
    &:hover {
        background-color: #1b1b38;
    }
}
.css-bpeome-MuiSvgIcon-root-MuiSelect-icon {
    color: white;
}
.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
    color: white;
}
.MuiMenuItem-root {
    padding: 0 14px;
}
.title-select {
    color: #1b1b38;
    font-weight: 600;
}
