.back-icon {
    font-size: 1.8rem;
    margin-bottom: 10px;
}
.title-add-user {
    font-size: 1.2rem;
    margin-top: 5px;
}
.create-user-form {
    margin-left: 250px;
    margin-bottom: 40px;
}
.space-block {
    height: 20px;
    background-color: var(--bgColorBlock);
}
