@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --red: #fe2c55;
    --bgColorBlock: #323259;
    --bgColor: #1b1b38;
}

html {
}

body {
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizespeed;
    color: white;
}
a {
    text-decoration: none;
    color: white;
    &:hover {
        color: white;
        cursor: pointer;
    }
}
